
 @media (max-width: 575.98px) { 
    .navbar-toggler i{
        color:#B88E2F;
        font-size:30px;
    }
    .navbar-nav{
        background-color: teal;
        text-align: center;
        padding: 20px;
        border-radius:21px;
    }
    .nav-link{
       align-items: center;
       justify-content: center;
  }
  .icons {
    display: flex;
    position: absolute;
    top: 60%;
    color: #FFF3E3;
    gap: 20px;
    left: 22%;
}
.overly a {
    padding: 15px 50px;
    background-color: #FFF3E3;
    position: absolute;
    top: 40%;
    left: 33%;
    color: #B88E
}
.input3 {
    position: absolute;
    left: 79%;
    top: 43.5%;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    border-bottom: 2px black;
    width: 70px;
}
.input2 {
    position: absolute;
    left: 35%;
    top: 44%;
    font-size: 16px;
    color: #9F9F9F;
    border-bottom: 2px black;
  }
  #product {
    padding: 0px 0px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-toggler i{
        color:#B88E2F;
        font-size:30px;
    }
    .navbar-nav{
        background-color: teal;
        text-align: center;
        padding: 20px;
        border-radius:21px;
    }
    .nav-link{
       align-items: center;
       justify-content: center;
  }
  .icons {
    display: flex;
    position: absolute;
    top: 60%;
    color: #FFF3E3;
    gap: 20px;
    left: 22%;
}
.overly a {
    padding: 15px 50px;
    background-color: #FFF3E3;
    position: absolute;
    top: 40%;
    left: 33%;
    color: #B88E
}
.input3 {
    position: absolute;
    left: 79%;
    top: 43.5%;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    border-bottom: 2px black;
    width: 70px;
}
.input2 {
    position: absolute;
    left: 35%;
    top: 44%;
    font-size: 16px;
    color: #9F9F9F;
    border-bottom: 2px black;
  }
  #product {
    padding: 0px 0px;
  }
  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) {  }